{% extends "base.html" %}
{% load i18n %}

{% block title %} {{ title_header }} {% endblock %}

{% block content %}
	<div class="container">
		<div class="">
		<div>
		<h1> {{ title }} </h1>
		<a href="{% url 'posts:list'%}"> {% trans 'Return to the Post list' %} </a>
		</div>
			<form action="" method="POST" enctype="multipart/form-data" class="site-form">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="site-buttom" type="submit"> {% trans 'Save' %} </button>
			</form>
		</div>
	</div>
{% endblock content %}