{% extends "base.html" %}
{% load i18n %}

{% block title %} POST {% endblock %}

{% block content %}
	<div class="container">
		<div class="">
			<div class="">
                <h1> {{ article.title }} </h1>
                <h4> {{ article.slug }} </h4>
			</div>
			<p style="text-align: justify;"> {{ article.content }} </p>
			<p style="color: grey;"> {% trans 'Creation date' %}: {{ article.timestamp }}</p>
			<p style="color: #3a8688;"> {% trans 'Update date' %}: {{ article.updated }}</p>
		</div>
		<div class="btn-group">
			<a class="btn btn-primary" href="{% url 'posts:list'%}"> {% trans 'Return to the Post list' %} </a>
			<a class="btn btn-primary" href="{% url 'posts:update' id=article.id %}"> {% trans 'Update' %} </a>
			<a class="btn btn-primary" href="{% url 'posts:delete' id=article.id %}"> {% trans 'Delete' %} </a>
		</div>
	</div>
{% endblock content %}