{% extends "base.html" %}
{% load i18n %}

{% block title %} {{ title_header }} {% endblock %}

{% block content %}
	<div class="container">
        <h1> {% trans 'List of publications' %} </h1>
        <!-- Menu de Busqueda -->
        <form method="GET" action=".">
            <input type="text" name="q" placeholder="{% trans 'Search' %}">
        </form>
        <a class="" href="{% url 'posts:create' %}"> {% trans 'Create publication' %} </a>
        <h4> {% trans 'User' %}: {{ users_qs }} </h4>
        <!-- Lista de Posts -->
        {% for obj in objects %}
            <h2 style="color:blue"> {{ obj.id }} <a style="color:blue;text-decoration: none;" href="{{ obj.get_absolute_url }}"> {{ obj.title }} </a> </h2>
        {% endfor %}
            
	</div>
{% endblock content %}